.output-panel {
  display: none;
}

#idiot {
  display: none;
  color: red;
}

.jumbotron, h1, h2 {
  text-align: center;
}

#bg {
  position: fixed;
  top: 0;
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
